<div class="card" style="width: 23.5rem; overflow: hidden;">
  <img height="200" [src]="fragrancePhoto" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title fs-5 text-nowrap fw-bold mb-1"><i class="fas fa-solid fa-wine-bottle"></i>&nbsp;{{fragrance.name}}</h5>
    <h5 class="card-subtitle fs-5 text-secondary mb-1"><i class="fas fa-solid fa-user-check"></i>&nbsp;{{ fragrance.brand }}</h5>
    <h6 class="card-subtitle fs-5 text-secondary mb-1"><i class="fas fa-code"></i>&nbsp;{{ fragrance.recommendedSeason }}</h6>
    <h6 class="card-subtitle fs-5 text-secondary"><i class="fas fa-user"></i>&nbsp;{{ fragrance.adder }}</h6>
    <hr>
    <p class="card-text fs-5">{{fragrance.shortDescription}}</p>
  </div>
  <div class="card-footer d-flex gap-2 justify-content-between align-items-center">
    <div class="d-flex gap-2">
      <app-rating [rating]="fragrance.averageRating || 0"></app-rating>
      <span class="fw-bold fs-5" *ngIf="fragrance.averageRating || 0 > 0">{{fragrance.averageRating}}</span>
    </div>
    <div class="d-flex gap-2" *ngIf="!manage">
      <i (click)="onShowDetails()" class="fas fa-info-circle"></i>
      <i *ngIf="isInList == true" (click)="onFavourite()" class="fas fa-heart text-danger"></i>
      <i *ngIf="isInList == false" (click)="onFavourite()" class="far fa-heart text-danger"></i>
      <i (click)="onReview()" class="fas fa-comment text-primary"></i>
    </div>
    <div class="d-flex gap-2" *ngIf="manage">
      <i (click)="onEdit()" class="fas fa-edit text-success"></i>
      <i (click)="onDelete()" class="fas fa-archive text-danger"></i>
    </div>
  </div>
</div>
