.position-relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.fs-4 {
  font-size: 1.5rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.paddingTop {
  padding-top: 1.5rem;
}

.card-with-gap {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.menu-container {
  width: 80%;
  margin-bottom: 3rem;
}

.paddingTopTitle {
  padding-top: 1.5rem;
}

.gift-button {
  animation: pulse 2s infinite;
  transition: transform 0.3s ease-in-out;
}

.gift-button:hover {
  transform: scale(1.1);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.modal-body p {
  font-size: 1.5rem;
}

.modal-title {
  font-size: 2rem;
}
