<div class="bg-image">
  <div class="container-fluid card login-container">
    <h3 class="text-center mb-4">Create an account</h3>
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
      <p *ngFor="let msg of errorMsg">{{msg}}</p>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="successMessage">
      {{ successMessage }}
    </div>
    <form (ngSubmit)="register()" #registerForm="ngForm">
      <div class="mb-3">
        <label for="firstname" class="form-label">Firstname</label>
        <input [(ngModel)]="registerRequest.firstname" type="text" class="form-control" id="firstname" name="firstname" placeholder="John">
      </div>
      <div class="mb-3">
        <label for="lastname" class="form-label">Lastname</label>
        <input [(ngModel)]="registerRequest.lastname" type="text" class="form-control" id="lastname" name="lastname" placeholder="Doe">
      </div>
      <div class="mb-3">
        <label for="login" class="form-label">Email address</label>
        <input [(ngModel)]="registerRequest.email" type="email" class="form-control" id="login" name="login" placeholder="name@example.com" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input [(ngModel)]="registerRequest.password" type="password" class="form-control" id="password" name="password" placeholder="Password" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Create an account</button>
    </form>
    <div class="mt-3 text-center">
      <span>Already have an account?</span>
      <button (click)="login()" type="button" class="btn btn-link">Login</button>
    </div>
  </div>
</div>
