<div class="container-fluid vh-35 d-flex align-items-center">
  <div class="col-md-12 margin-top">
    <h2 class="fs-4 text-center mb-4">Reset your password!</h2>
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
      <p *ngFor="let msg of errorMsg">{{msg}}</p>
    </div>
    <form class="row g-3" (ngSubmit)="submitPassword()">
      <div class="col-12">
        <label for="oldpassword" class="form-label">Your old password</label>
        <input [(ngModel)]="resetPassword.password" type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Your old password">
      </div>
      <div class="col-12">
        <label for="newpassword" class="form-label">Your new password</label>
        <input [(ngModel)]="resetPassword.newPassword" type="password" class="form-control" id="newpassword" name="newpassword" placeholder="Your new password">
      </div>
      <div class="col-12">
        <label for="confirmnewpassword" class="form-label">Confirm new password</label>
        <input [(ngModel)]="newPassConfirm" type="password" class="form-control" id="confirmnewpassword" name="confirmnewpassword" placeholder="Confirm your new password">
      </div>
      <div class="col-12 d-flex justify-content-between margin-bottom">
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-save me-2"></i>Save the review
        </button>
        <button routerLink="/fragrances" (click)="cancelPasswordRequest()" type="button" class="btn btn-outline-danger">
          <i class="fas fa-times me-2"></i>Cancel
        </button>
      </div>
    </form>
  </div>
</div>
